* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "./typography.scss";
@import "../node_modules/foundation-sites/scss/foundation.scss";
@import "./settings";
@import "./header.scss";
@import "./spinner.scss";
@import "./footer.scss";
@import "./about.scss";
@import "./contact.scss";
@import "./team.scss";
@import "./team-personal-information";
@import "./publications.scss";
@import "./publication-entry.scss";
@import "./services";
@import "./service-entry";
@import "./index";


@include foundation-everything;

@import "./forms.scss";